<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:ui="http://schemas.microsoft.com/wix/UIExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	
    <Product Id="*"
             Name="WallpaperX"
             Language="1033" 
             Version="1.0.2.0" 
             Manufacturer="WallpaperX" 
             UpgradeCode="1D1BDB76-8C09-4243-899B-41866618D02C">
    
		<Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perUser"
             InstallPrivileges="limited" />

		<MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
      
		<MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
    <Condition Message="This application requires .NET Framework 4.6.2. Please install the .NET Framework then run this installer again.">
        <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
    </Condition>
      
		<Feature Id="FT_ProductComplete" Title="WallpaperX" Level="1">
			<ComponentGroupRef Id="CMPGRP_ProductComponents" />
      <ComponentRef Id="CMP_ApplicationShortcut" />
      <ComponentRef Id="CMP_ApplicationStartup" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="LocalAppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="WallpaperX" />
			</Directory>
		  
      <Directory Id="ProgramMenuFolder" >
        <Directory Id="ApplicationProgramsFolder" Name="WallpaperX"/>
      </Directory>
        
    </Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="CMPGRP_ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="CMP_AppRemoveFolder" Guid="C533F659-48B5-4D2D-9034-241C42701AF2" >
        <Registry Root='HKCU' Key='Software\[ProductName]' Name="AppRemoveFolder" Type="integer" Value="1" KeyPath='yes'/>
        <RemoveFolder Id="INSTALLFOLDER" On="uninstall"/>
      </Component>
        
      <Component Id="CMP_ProductEXE" Guid="5D15A315-F0EB-4809-B0D2-CFF62AFD50DD">
        <File Id='FILE_WallpaperX.EXE' Name='WallpaperX.exe' Source='$(var.WallpaperX.TargetPath)'></File>
        <RegistryValue Root="HKCU" Key="Software\[ProductName]\Files" Name="CMP_ProductEXE" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
      
      <Component Id="CMP_ProductEXE.config" Guid="16456CA5-30EE-458B-9708-DEFABD1BE5DF">
        <File Id='FILE_WallpaperX.EXE.config' Name='WallpaperX.exe.config' Source='$(var.WallpaperX.TargetPath).config'></File>
        <RegistryValue Root="HKCU" Key="Software\[ProductName]\Files" Name="CMP_ProductEXE.config" Type="integer" Value="1" KeyPath="yes"/>
      </Component>

      <Component Id="CMP_Newtonsoft.Json.dll" Guid="3248425F-AF8C-48A8-BDD1-746F4A8DD299">
        <File Id='FILE_Newtonsoft.Json.dll' Name='Newtonsoft.Json.dll' Source='$(var.WallpaperX.TargetDir)Newtonsoft.Json.dll'></File>
        <RegistryValue Root="HKCU" Key="Software\[ProductName]\Files" Name="CMP_Newtonsoft.Json.dll" Type="integer" Value="1" KeyPath="yes"/>
      </Component>

      <Component Id="CMP_Microsoft.WindowsAPICodePack.dll" Guid="2BE590FB-A35E-4570-A604-86861E1B8509">
        <File Id='FILE_Microsoft.WindowsAPICodePack.dll' Name='Microsoft.WindowsAPICodePack.dll' Source='$(var.WallpaperX.TargetDir)Microsoft.WindowsAPICodePack.dll'></File>
        <RegistryValue Root="HKCU" Key="Software\[ProductName]\Files" Name="CMP_Microsoft.WindowsAPICodePack.dll" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll" Guid="13F8D611-4C7B-4EE9-B417-F0EB2BC560F7">
        <File Id='FILE_Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll' Name='Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll' Source='$(var.WallpaperX.TargetDir)Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll'></File>
        <RegistryValue Root="HKCU" Key="Software\[ProductName]\Files" Name="CMP_Microsoft.WindowsAPICodePack.ExtendedLinguisticServices.dll" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_Microsoft.WindowsAPICodePack.Sensors.dll" Guid="830F26FB-FB50-4412-9824-EC5AC34BF160">
        <File Id='FILE_Microsoft.WindowsAPICodePack.Sensors.dll' Name='Microsoft.WindowsAPICodePack.Sensors.dll' Source='$(var.WallpaperX.TargetDir)Microsoft.WindowsAPICodePack.Sensors.dll'></File>
        <RegistryValue Root="HKCU" Key="Software\[ProductName]\Files" Name="CMP_Microsoft.WindowsAPICodePack.Sensors.dll" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_Microsoft.WindowsAPICodePack.Shell.dll" Guid="CE96D6CB-86BF-4EEF-A708-7AE91367003E">
        <File Id='FILE_Microsoft.WindowsAPICodePack.Shell.dll' Name='Microsoft.WindowsAPICodePack.Shell.dll' Source='$(var.WallpaperX.TargetDir)Microsoft.WindowsAPICodePack.Shell.dll'></File>
        <RegistryValue Root="HKCU" Key="Software\[ProductName]\Files" Name="CMP_Microsoft.WindowsAPICodePack.Shell.dll" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="CMP_Microsoft.WindowsAPICodePack.ShellExtensions.dll" Guid="E9685DB8-B67E-4E87-AC71-E1458A8B15EC">
        <File Id='FILE_Microsoft.WindowsAPICodePack.ShellExtensions.dll' Name='Microsoft.WindowsAPICodePack.ShellExtensions.dll' Source='$(var.WallpaperX.TargetDir)Microsoft.WindowsAPICodePack.ShellExtensions.dll'></File>
        <RegistryValue Root="HKCU" Key="Software\[ProductName]\Files" Name="CMP_Microsoft.WindowsAPICodePack.ShellExtensions.dll" Type="integer" Value="1" KeyPath="yes"/>
      </Component>      
		</ComponentGroup>
	</Fragment>
  
  <Fragment>
    <Component Id="CMP_ApplicationShortcut" Directory="ApplicationProgramsFolder" Guid="7571F9D3-8B2A-48C8-A76A-1A7D9F7E24EF">
      <Shortcut Id="ApplicationStartMenuShortcut"
                Name="WallpaperX"
                Description="Wallpaper Changer"
                WorkingDirectory="INSTALLFOLDER"
                Target="[#FILE_WallpaperX.EXE]">
        <ShortcutProperty Key="System.AppUserModel.ID" Value="WallpaperX.App"/>
      </Shortcut>
      
      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
      <RegistryValue Root="HKCU" Key="Software\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
  </Fragment>
  
  <Fragment>
    <Component Id="CMP_ApplicationStartup" Directory="ApplicationProgramsFolder" Guid="22A01173-14D7-4CFC-B965-6ADC3FB2885F">
      <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run"
                     Name="WallpaperX"
                     Type="string" Value="[#FILE_WallpaperX.EXE]"
                     KeyPath="yes"/>
    </Component>
  </Fragment>
</Wix>
