<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="bingSettings" type="System.Configuration.NameValueFileSectionHandler" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
      <!-- Valid Values: bing -->
      <add key="PictureSource" value="bing" />
      
      <!-- Valid Strategies: OneTime, EveryHour -->
      <add key="ChangeStrategy" value="OneTime" />
      
      <!-- Valid Values: Fill, Fit, Span, Stretch, Tile, Center -->
      <add key="WallpaperStyle" value="Fill" />
    </appSettings>

    <bingSettings>
      <add key="BaseUrl" value="http://www.bing.com" />
      <!-- Valid regions (or markets) -->
      <!--  en-ww (International)
            de-de (Germany)
            en-au (Australia)
            en-ca (Canada - English)
            en-gb (United Kingdom)
            en-in (India)
            en-us (United States)
            fr-ca (Canada - French)
            fr-fr (France)
            ja-jp (Japan)
            pt-br (Brazil)
            zh-cn (China)
            all (cycle all regions) -->
      <add key="Market" value="en-ww" />

      <!-- Valid picture sizes -->
      <!-- 150x150, 176x220, 178x100, 200x200, 220x176, 230x410, 234x416,
           240x240, 240x320, 240x400, 288x480, 310x150, 320x180, 320x240,
           320x320, 360x480, 400x240, 410x230, 416x234, 480x288, 480x360,
           480x640, 480x800, 540x900, 640x360, 640x480, 720x1280, 768x1024,
           768x1280, 768x1366, 800x480, 800x600, 900x540, 1024x768, 1080x1920,
           1280x720, 1280x768, 1366x768, 1920x1080, 1920x1200 -->
      <add key="PictureSize" value="1920x1080" />
    </bingSettings>

</configuration>
